@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}	

.content {
	margin: auto;
	max-width: 500px;
	padding: 48px 0;
}

#head-img {
	max-height:150px;
	height:33vw;
}

.social-icons {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: white;
}

.social-icons-content {
	max-width: 500px;
	margin: 12px auto;

}

.social-icons-content * {
	height: 25px;
}

.social-icons-content * + * {
	padding-left: 8px;
}