@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}	

.content {
	margin: auto;
	max-width: 500px;
	padding: 48px 0;
}

.emptyList {
	list-style-type:none;
	margin:0;
	padding:0;
}

.emptyList li {
	padding:2px 0;
}

.linkBlock {
	margin:12px 0;
}

#head-img {
	max-height:150px;
	height:33vw;
}

.social-icons {
	margin: 32px 0;
}
.social-icons * {
	height: 25px;
}

.social-icons * + * {
	padding-left: 8px
}